
.footer, .navbar {
  background-color: #593d02;
  color: beige;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  
}

.navbar {
  position:sticky;
}

.header {
  background-color: blanchedalmond;
  text-align: center;
  color: #593d02;
  padding: 20px;

}
    
img {
  width: 100%;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  width: 240px;
  margin: 25px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
